/* .App {
  text-align: center;

} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Estilos CSS */
.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; /* Opción para distribuir el espacio entre las tarjetas */
  gap: 20px; /* Espacio entre las tarjetas */
  padding: 20px;
}

/* Estilos para las tarjetas */
.Card {
  width: calc(33.33% - 40px); /* Tamaño de la tarjeta (ajustar según necesidades) */
  margin-bottom: 20px;
  box-sizing: border-box;
  background-color: gray;
}
